{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row mx-auto mb-5">
    <div class="col">
      <div class="card mt-4 user-profile mr-5" style="height: 100%;">
        <div class="text-center pt-3"> <!-- div class="col-md-12 col-md-12-sm-12 col-xs-12 text-center pt-3" -->
          <!-- user profile picture -->
          <img src="http://nicesnippets.com/demo/1499344631_malecostume.png">
        </div>
        <div class="mt-3 mb-3 pl-4 pr-4 text-center">
          <p>{{user_profile.user.username}}</p>
          <p>{{user_profile.full_name}}</p>
          <footer>Date Joined: {{user_profile.date_created|date:"M d Y"}}</footer>
        </div>
      </div>

    </div>

    <div class="col">
      <div class="card mt-4 user-stats text-center" style="height: 100%;">
        <h4 class="card-title pt-5 mb-5">User Activity</h4>
        <div class="mb-3 pl-4 pr-4 align-self-center">
          <h5 class="card-subtitle text-muted pb-3">Number of Posts: {{no_posts}}</h5>
          <h5 class="card-subtitle text-muted pb-3">Number of Comments: {{no_comments}}</h5>
          <h5 class="card-subtitle text-muted">Last Active: {{last_active | timesince}} ago</h5>
        </div>

      </div>
    </div>
    
  </div>

  <div class="card user-activity ">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts"
          aria-selected="true">Posts</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments"
          aria-selected="false">Comments</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
          aria-selected="false">Popular</a>
      </li>
    </ul>
    <div class="tab-content mb-4 mx-auto" id="myTabContent">
      <div class="tab-pane fade show active text-center" id="posts" role="tabpanel" aria-labelledby="posts-tab">
        {% for post in posts %}
        <div class="card ml-4 mr-4 mt-4">
          <h5 class="card-title"><a href="{% url 'post-detail' post.id %}">{{post.title}}</a></h5>
          <div class="card-body">
            {{post.content}}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="tab-pane fade mb-3 mx-auto" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        {% for comment in comments %}
        <div class="card text-center mx-auto align-self-stretch mb-3">
          <div class="card-title">
            <span>
              <a href="{% url 'post-detail' comment.post.id %}">{{comment.post.title}}</a>
              -
              <small class="card-subtitle text-muted">
                <a href="">{{comment.post.user_profile.user.username}}</a>
              </small>
              
            </span>
            
          </div>
          <div class="card-body">
            <span>
              <small class="text-muted">{{comment.user_profile.user.username}}: </small>
              {{comment.content}}
            </span>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        Coming soon
      </div>
    </div>
  </div>
</div>

<style>
  .user-profile, .user-stats, .user-activity {
    box-shadow: 2px 2px 2px 2px;
  }
</style>

{% endblock content %}